html
	head
		include template/head.pug
		include template/partials/_general.pug
	body
		//- Container
		.container

			//-- Home section
			section.home

				//--- Illustration
				.illustration

					//---- Illustration Blob Circle
					svg#blob-js.illustrationBlob(viewBox="0 0 1000 1000")
						path#blob__path-js.illustrationBlob__path

					//---- Illustration Bubbles Wrap
					ul.illustrationBubblesWrap
						- for (var n = 0; n < 12; n++)
							li.illustrationBubble

					//---- Illustration Dashed Frame
					- var n = 1;
					while n <= 3
						.illustrationDashedFrame(class=`dashedFrame_type${n++}`)

					//---- Illustration Circle Charts
					- var n = 1;
					while n <= 2
						.illustrationCircleChart(class=`illustrationCircleChart_type${n++}`)

					//---- Illustration Stickers
					- var n = 1;
					while n <= 2
						.illustrationSticker(class=`illustrationSticker_type${n++}`)
							ul.illustrationSticker__lineWrap
								- for (var j = 0; j < 3; j++)
									li.illustrationSticker__line

					//---- Illustration Site Layout
					.illustrationSiteLayout
						.illustrationSiteLayout__codeWrap
							.illustrationSiteLayout__scrollBox
								ul.illustrationSiteLayout__codeList
									- for (var n = 0; n < 4; n++)
										li.illustrationSiteLayout__codeItem
											- for (var j = 0; j < 7; j++)
												.illustrationSiteLayout__codeLine

					//---- Illustration Dialog
					ul.illustrationDialog
						- for (var n = 0; n < 5; n++)
							li.illustrationDialog__line

					//---- Illustration Folder
					.illustrationFolder
						ul.illustrationFolder__file
							- for (var n = 0; n < 5; n++)
								li.illustrationFolder__line

					//---- Illustration Books
					.illustrationBooks
						.illustrationBooks__book
						.illustrationBooks__book
						.illustrationBooks__book
							- for (var n = 0; n < 4; n++)
								.illustrationBooks__binding

					//---- Illustration Analytics
					.illustrationAnalytics
						.illustrationAnalyticsPanel
							.illustrationAnalyticsPanel__buttonsWrap
								each val, index in ['exit', 'minimize', 'screen']
									.illustrationAnalyticsPanel__button(class=`__button_${val}`)

						//----- Illustration Analytics	Page
						.illustrationAnalyticsPage
							.illustrationAnalyticsPage__container

								//------ Illustration Analytics Diagram
								ul.illustrationAnalyticsPage__diagramWrap
									- for (var n = 0; n < 4; n++)
										li.illustrationAnalyticsPage__diagram

								//------ Illustration Analytics Banner
								.illustrationAnalyticsPage__banner

									//------- Illustration Analytics Description
									ul.illustrationAnalyticsPage__lineWrap
										- for (var n = 0; n < 8; n++)
											li.illustrationAnalyticsPage__line

									//------- Illustration Analytics Product List
									ul.illustrationAnalyticsPage__productList
										- for (var n = 0; n < 4; n++)
											li.illustrationAnalyticsPage__productItem
												.illustrationAnalyticsPage__productImg
												ul.illustrationAnalyticsPage__productLineWrap
													- for (var j = 0; j < 3; j++)
														li.illustrationAnalyticsPage__productLine

					//---- Illustration Imac
					.illustrationImac
						//----- Illustration Imac Display
						.illustrationImac__display

							//------ Illustration Imac Editor
							.illustrationImacEditor
								.illustrationImacEditorPanel

								//------- Illustration Imac	Editor Code
								.illustrationImacEditorCodeWrap
									.illustrationImacEditorCodeWrap__scrollBox
										- for (var n = 0; n < 2; n++)
											ul.illustrationImacEditorCodeWrap__codeList
												- for (var j = 0; j < 6; j++)
													li.illustrationImacEditorCodeWrap__codeItem
														- for (var x = 0; x < 10; x++)
															.illustrationImacEditorCodeWrap__codeLine

							//------ Illustration Imac Browser
							.illustrationImacBrowser

								//------- Illustration Imac Browser Panel
								.illustrationImacBrowserPanel
									.illustrationImacBrowserPanel__buttonsWrap
										each val, index in ['exit', 'minimize', 'screen']
											.illustrationImacBrowserPanel__button(class=`__button_${val}`)

								//------- Illustration Imac Browser Page
								.illustrationImacBrowserPage
									.illustrationImacBrowserPage__container

										//-------- Illustration Imac Browser Header
										header.illustrationImacBrowserPage__header
											ul.illustrationImacBrowserPage__nav
												- for (var n = 0; n < 4; n++)
													li.illustrationImacBrowserPage__navItem

										//-------- Illustration Imac Browser Main
										section.illustrationImacBrowserPage__main
											.illustrationImacBrowserPage__banner
												.illustrationImacBrowserPage__img
												ul.illustrationImacBrowserPage__lineWrap
													- for (var n = 0; n < 4; n++)
														li.illustrationImacBrowserPage__line

										//-------- Illustration Imac Browser Footer
										footer.illustrationImacBrowserPage__footer
											ul.illustrationImacBrowserPage__productList
												- for (var n = 0; n < 3; n++)
													li.illustrationImacBrowserPage__productItem
														.illustrationImacBrowserPage__productImg
														ul.illustrationImacBrowserPage__productLineWrap
															- for (var j = 0; j < 2; j++)
																li.illustrationImacBrowserPage__productLine

							//------ Picture
							.picture
								.picture__dayWrap
									.picture__sun
									.picture__moon
								.picture__mountainsWrap
									- for (var n = 0; n < 3; n++)
										.picture__mountain

							//------ Avatar
							.avatarWrap
								.avatar

									//------- Head
									.headWrap
										//-------- Hair
										.hair
											.hair__leftSide
												- for (var n = 0; n < 3; n++)
													.blink
											.hair__rightSide

										//-------- Ears
										.ears
											.ear
											.ear

										//-------- Face
										.face
											//--------- Top Face
											.eyebrows
												.eyebrows__brow
												.eyebrows__brow
												.eyebrows__shadow
											//--------- Middle Face
											.eyes
											.glasses
												each val, index in ['left', 'right']
													div(class=`${val}`)
														.lens
															.shine
											//--------- Bottom Face
											.nose
											.arm
												each val, index in ['pharynx', 'tooth', 'tongue']
													div(class=`arm__${val}`)

										//-------- Neck
										.neck

									//------- Body
									.bodyWrap
										.bodyWrap__body
											.collar
												.shirt
												.button
												.button
										//-------- Bow
										.bowWrap
											each val, index in ['bowShadow', 'bow', 'crease']
												div(class=`bowWrap__${val}`)

						//----- Illustration Imac Panel
						.illustrationImac__panel
							.illustrationImac__panelButton

						//----- Illustration Imac Stand
						.illustrationImac__stand
							.illustrationImac__standShadow
							.illustrationImac__standBase

					//---- Illustration Presentation
					.illustrationPresentation
						//----- Illustration Presentation Panel
						.illustrationPresentationPanel
							.illustrationPresentationPanel__buttonsWrap
								each val, index in ['exit', 'minimize', 'screen']
									.illustrationPresentationPanel__button(class=`__button_${val}`)

						//----- Illustration Presentation Page
						.illustrationPresentationPage
							.illustrationPresentationPage__container

								//------ Illustration Presentation Banner
								.illustrationPresentationPage__banner
									.illustrationPresentationPage__img
										//------- Picture
										.picture
											.picture__dayWrap
												.picture__sun
												.picture__moon
											.picture__mountainsWrap
												- for (var n = 0; n < 3; n++)
													.picture__mountain
									ul.illustrationPresentationPage__lineWrap
										- for (var n = 0; n < 6; n++)
											li.illustrationPresentationPage__line

								//------ Illustration Presentation Form
								.illustrationPresentationPage__form
									.illustrationPresentationPage__input
									.illustrationPresentationPage__input

					//---- Illustration Settings
					.illustrationSettings
						.illustrationSettings__container

							//----- Illustration Settings Gear
							.illustrationSettings__gearWrap
								.illustrationSettings__gear
									svg(viewBox="-208 -208 300 300")
										defs
											line#tooth(x1="-2" x2="26")
										g.teeth
											- var n = 0;
											- var angle = 45;
											while n < 8
												g(transform=`rotate(${n++ * angle})`)
													use(xlink:href="#tooth" x="85")
								.illustrationSettings__gearCircle

							//----- Illustration Settings Line
							ul.illustrationSettings__lineWrap
								- for (var n = 0; n < 4; n++)
									li.illustrationSettings__line
			//-- About section
			section.about

				//--- Card Wrap
				.cardWrap

					//---- Learnability Icon
					.iconCard
						.learnabilityIcon

							//----- Learnability Editor
							.learnabilityEditor

								//------ Learnability Editor Panel
								.learnabilityEditor__panel
									.learnabilityEditor__buttonsWrap
										each val, index in ['exit', 'minimize', 'screen']
											.learnabilityEditor__button(class=`__button_${val}`)

								//------ Learnability Editor Code
								.learnabilityEditor__codeWrap
									.learnabilityEditor__scrollBox
										ul.learnabilityEditor__codeList
											- for (var n = 0; n < 7; n++)
												li.learnabilityEditor__codeItem
													- for (var j = 0; j < 5; j++)
														.learnabilityEditor__codeLine

							//----- Learnability Keyboard
							.learnabilityKeyboard
								each val, index in [14, 14, 13, 12, 10]
									ul.learnabilityKeyboard__line
										- for (var n = 0; n < val; n++)
											li.learnabilityKeyboard__button

							//----- Learnability Gear
							.learnabilityGear
								.learnabilityGear__gear
									svg(viewBox="-208 -208 300 300")
										defs
											line#learnabilityGearTooth(x1="-2" x2="22")
										g.teeth
											- var n = 0;
											- var angle = 30;
											while n < 12
												g(transform=`rotate(${n++ * angle})`)
													use(xlink:href="#learnabilityGearTooth" x="85")
								.learnabilityGear__gearCircle

					//---- Fast Icon
					.iconCard
						.fastIcon

							//----- Fast Browser
							.fastBrowser

								//------ Fast Browser Panel
								.fastBrowser__panel
									.fastBrowser__buttonsWrap
										each val, index in ['exit', 'minimize', 'screen']
											.fastBrowser__button(class=`__button_${val}`)
									.fastBrowser__input

								//------ Fast Browser Page
								.fastBrowser__page
									ul.fastBrowser__lineWrap
										- for (var n = 0; n < 6; n++)
											li.fastBrowser__line

							//----- Fast Clock Wrap
							.fastClockWrap

								//------ Fast Clock Gear
								.fastClockWrap__gear
									svg(viewBox="-208 -208 300 300")
										defs
											line#clockGearTooth(x1="-2" x2="18")
										g.teeth
											- var n = 0;
											- var angle = 30;
											while n < 12
												g(transform=`rotate(${n++ * angle})`)
													use(xlink:href="#clockGearTooth" x="85")

								//------ Fast Clock
								.fastClockWrap__clock
									.clockFaceContainer
										.clockFaceContainer__clockHand
										.clockFaceContainer__clockCircle

										svg(viewBox="-208 -208 300 300")
											defs
												line#clockDealTooth(x1="-2" x2="10")
											g.teeth
												- var n = 0;
												- var angle = 9;
												while n < 40
													g(transform=`rotate(${n++ * angle})`)
														use(xlink:href="#clockDealTooth" x="85")

					//---- Dynamic Icon
					.iconCard
						.dynamicIcon

							//----- Dynamic Browser
							.dynamicBrowser

								//------ Dynamic Browser Panel
								.dynamicBrowser__panel
									.dynamicBrowser__buttonsWrap
										each val, index in ['exit', 'minimize', 'screen']
											.dynamicBrowser__button(class=`__button_${val}`)

								//------ Dynamic Browser Header
								header.dynamicBrowser__header
									ul.dynamicBrowser__lineWrap
										- for (var n = 0; n < 4; n++)
											li.dynamicBrowser__line
									.dynamicBrowser__title
									.dynamicBrowser__subtitle

								//------ Dynamic Browser Main
								section.dynamicBrowser__main
									.landscape
										.landscapePicture
											.landscapePicture__bg
											.landscapePicture__dayWrap
												.landscapePicture__sun
												.landscapePicture__moon
											.landscapePicture__mountainsWrap
												.landscapePicture__mountain
												.landscapePicture__mountain

								//------ Dynamic Browser Footer
								footer.dynamicBrowser__footer
									ul.dynamicBrowser__productList
										- for (var n = 0; n < 3; n++)
											li.dynamicBrowser__product
												.dynamicBrowser__productImg
												.dynamicBrowser__productLineWrap
													- for (var j = 0; j < 3; j++)
														.dynamicBrowser__productLine

							//----- Dynamic Dialog
							mixin dynamicDialogMix(side, lineIteration)
								ul.dynamicDialog(class=`dynamicDialog_${side}`)
									- for (var n = 0; n < lineIteration; n++)
										li.dynamicDialog__line

							+dynamicDialogMix('left', '4')
							+dynamicDialogMix('right', '3')

							//----- Dynamic Dashed Frame
							.dynamicDashedFrame

							//----- Dynamic Chart
							ul.dynamicChart
								- for (var n = 0; n < 5; n++)
									li.dynamicChart__line

					//---- Responsive Icon
					.iconCard
						.responsiveIcon

							//----- Responsive Imac
							.respImac

								//------ Responsive Imac Display
								.respImac__display

									//------- Responsive Browser
									.respBrowser

										//-------- Responsive Browser Panel
										.respBrowser__panel
											.respBrowser__buttonsWrap
												each val, index in ['exit', 'minimize', 'screen']
													.respBrowser__button(class=`__button_${val}`)

										//-------- Responsive Browser Page
										.respBrowser__page
											.respBrowser__pageLayout

												//--------- Responsive Browser Nav
												.respBrowser__nav

												//--------- Responsive Browser Banner
												.respBrowser__banner

												//--------- Responsive Browser Product List
												ul.respBrowser__productList
													- for (var n = 0; n < 3; n++)
														li.respBrowser__product
															.respBrowser__productImg
															.respBrowser__productLineWrap
																- for (var j = 0; j < 2; j++)
																	.respBrowser__productLine

								//------ Responsive Imac Panel
								.respImac__panel

								//------ Responsive Imac Stand
								.respImac__stand
									.respImac__standShadow
									.respImac__standBase

							//----- Responsive Ipad
							.respIpad

								//------ Responsive Ipad Display
								.respIpad__display

									//------- Ipad Browser
									.ipadBrowser

										//-------- Ipad Browser Nav
										.ipadBrowser__nav

										//-------- Ipad Browser Banner
										.ipadBrowser__banner

										//-------- Responsive Ipad Product List
										ul.ipadBrowser__productList
											- for (var n = 0; n < 3; n++)
												li.ipadBrowser__product
													.ipadBrowser__productImg
													.ipadBrowser__productLineWrap
														- for (var j = 0; j < 3; j++)
															.ipadBrowser__productLine

								//------ Responsive Ipad Camera
								.respIpad__camera

								//------ Responsive Ipad Button
								.respIpad__button

							//----- Responsive Iphone
							.respIphone

								//------ Responsive Iphone Display
								.respIphone__display

									//------- Iphone Browser
									.iphoneBrowser

										//-------- Iphone Browser Nav
										.iphoneBrowser__nav

										//-------- Responsive Iphone Product List
										ul.iphoneBrowser__productList
											- for (var n = 0; n < 2; n++)
												li.iphoneBrowser__product
													.iphoneBrowser__productImg
													.iphoneBrowser__productLineWrap
														- for (var j = 0; j < 2; j++)
															.iphoneBrowser__productLine

								//------ Responsive Iphone Camera
								.respIphone__camera

								//------ Responsive Iphone Button
								.respIphone__button

					//---- Sociable Icon
					.iconCard
						.sociableIcon

							//----- Sociable Link
							mixin sociableLinkMix(position, name)
								.sociableLink(class=`sociableLink_${position}`)
									.sociableLink__figure(class=`sociableLink__figure_${name}`)

							+sociableLinkMix('posLC', 'mail')
							+sociableLinkMix('posLT', 'money')
							+sociableLinkMix('posCT', 'tag')
							+sociableLinkMix('posRT', 'percent')
							+sociableLinkMix('posRC', 'and')

							//----- Sociable Display
							.sociableDisplay

								//------ Sociable Panel
								mixin sociableDisplayPanelMix(side, lineIteration)
									ul.sociableDisplay__panel(class=`sociableDisplay_${side}Side`)
										- for (var n = 0; n < lineIteration; n++)
											li.sociableDisplay__line

								+sociableDisplayPanelMix('left', '6')
								+sociableDisplayPanelMix('right', '4')

								//------ Sociable Avatar
								.sociableDisplay__avatar

								//------ Sociable Buttons Wrap
								ul.sociableDisplay__buttonsWrap
									- for (var n = 0; n < 2; n++)
										li.sociableDisplay__button

							//----- Sociable Keyboard
							.sociableKeyboard

		include template/partials/_mainScripts.pug