html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/index/_linkIndexStyle.pug
	body
		//- Preloader
		.preloader
			svg.preloader__word(width="387" height="99" viewBox="0 0 387 110" fill="none" xmlns="http://www.w3.org/2000/svg")
				path.path(d="M108.035 28.4144C108.035 39.2432 105.693 51.224 101.008 64.3568C103.005 68.6576 105.578 70.808 108.726 70.808C108.342 72.344 107.075 73.112 104.925 73.112C102.774 73.112 100.739 72.0752 98.8192 70.0016C95.6704 77.6048 92.0224 83.7488 87.8752 88.4336C83.8048 93.0416 79.504 95.3456 74.9728 95.3456C69.0592 95.3456 64.8736 91.6592 62.416 84.2864C55.6576 93.1184 49.0912 97.5344 42.7168 97.5344C32.9632 97.5344 28.0864 92.3888 28.0864 82.0976C28.0864 74.4944 30.6592 64.3568 35.8048 51.6848C37.648 47.0768 39.376 41.8928 40.9888 36.1328C42.6016 30.296 43.408 24.92 43.408 20.0048C43.408 15.0896 41.9872 11.1344 39.1456 8.13919C36.304 5.14399 32.3872 3.64639 27.3952 3.64639C19.7152 3.64639 13.456 7.56319 8.6176 15.3968C4.8544 21.6176 2.9728 28.184 2.9728 35.096C2.9728 43.8512 5.5456 49.4192 10.6912 51.8C12.2272 52.4912 13.8784 52.8368 15.6448 52.8368C21.5584 52.8368 26.0512 49.5344 29.1232 42.9296C29.2768 42.6224 29.5072 42.4688 29.8144 42.4688C30.1984 42.392 30.5056 42.4688 30.736 42.6992C31.0432 42.9296 31.12 43.1984 30.9664 43.5056C29.5072 47.1152 27.472 50.0336 24.8608 52.2608C22.2496 54.4112 19.1776 55.4864 15.6448 55.4864C8.7328 55.4864 4.048 51.992 1.5904 45.0032C0.592004 42.008 0.092804 38.6288 0.092804 34.8656C0.092804 31.1024 0.899204 26.8784 2.512 22.1936C5.5072 13.3616 10.3072 7.14079 16.912 3.53119C20.2144 1.76479 23.7088 0.881592 27.3952 0.881592C34.4608 0.881592 39.8752 3.30079 43.6384 8.13919C47.4016 12.9008 49.2832 19.2368 49.2832 27.1472C49.2832 32.9072 48.1312 39.5888 45.8272 47.192C43.5232 54.7952 41.2192 62.0912 38.9152 69.08C36.6112 76.0688 35.4592 81.3296 35.4592 84.8624C35.4592 88.3952 35.9584 90.9296 36.9568 92.4656C38.032 93.9248 39.9136 94.6544 42.6016 94.6544C48.6688 94.6544 54.928 89.9696 61.3792 80.6C60.7648 76.5296 60.4576 72.6128 60.4576 68.8496C60.4576 56.5616 62.5312 46.04 66.6784 37.2848C69.6736 31.1408 72.8608 28.0688 76.24 28.0688C79.2352 28.0688 80.7328 30.7184 80.7328 36.0176C80.7328 41.3168 79.504 47.6912 77.0464 55.1408C74.5888 62.5904 71.4016 69.6944 67.4848 76.4528C68.4064 86.9744 71.3248 92.2352 76.24 92.2352C83.6128 92.2352 90.448 83.9408 96.7456 67.352C93.2128 61.4384 91.4464 53.0672 91.4464 42.2384C91.4464 35.864 92.2528 30.0272 93.8656 24.728C95.8624 18.0464 98.704 14.7056 102.39 14.7056C106.154 14.7056 108.035 19.2752 108.035 28.4144ZM105.04 27.608C105.04 21.464 104.003 18.392 101.93 18.392C100.394 18.392 99.1648 20.6192 98.2432 25.0736C97.3984 29.4512 96.976 33.2144 96.976 36.3632C96.976 46.5008 97.744 54.3344 99.28 59.864C103.12 47.3456 105.04 36.5936 105.04 27.608ZM67.1392 69.656C67.1392 70.04 67.1392 70.3856 67.1392 70.6928C70.1344 64.9328 72.6304 58.9424 74.6272 52.7216C76.7776 45.9632 77.8528 40.8944 77.8528 37.5152C77.8528 34.0592 77.1232 32.1392 75.664 31.7552C73.6672 31.7552 71.7472 36.0176 69.904 44.5424C68.0608 52.9904 67.1392 61.3616 67.1392 69.656Z")
				path.path(d="M123.833 78.1808C123.833 87.4736 127.136 92.12 133.74 92.12C136.198 92.12 138.771 91.0448 141.459 88.8944C144.224 86.6672 146.72 84.0176 148.947 80.9456C153.862 73.88 157.318 68.12 159.315 63.6656L160.812 60.44H163.923C162.617 63.512 160.697 67.3136 158.163 71.8448C155.628 76.2992 153.209 80.0624 150.905 83.1344C148.601 86.2064 145.875 89.0096 142.726 91.544C139.577 94.0016 136.582 95.2304 133.74 95.2304C122.374 95.2304 116.691 88.856 116.691 76.1072C116.691 70.1936 118.419 64.28 121.875 58.3664C126.636 50.1488 132.512 46.04 139.5 46.04C144.416 46.04 146.873 48.728 146.873 54.104C146.873 58.0976 145.337 62.2448 142.265 66.5456C137.964 72.3824 132.934 75.3392 127.174 75.416C126.329 75.416 125.792 75.032 125.561 74.264L125.446 73.8032C129.44 73.8032 133.241 71.192 136.851 65.9696C140.537 60.6704 142.38 56.2544 142.38 52.7216C142.38 50.3408 141.459 49.1504 139.616 49.1504C135.545 49.1504 131.744 52.7216 128.211 59.864C125.292 65.9312 123.833 72.0368 123.833 78.1808Z")
				path.path(d="M185.979 22.7696C188.744 15.5504 190.126 10.6352 190.126 8.02399C190.126 5.41279 189.473 4.03039 188.168 3.87679C184.558 3.87679 180.795 9.67519 176.878 21.272C173.038 32.792 170.004 44.7728 167.777 57.2144C165.627 69.5792 164.552 78.3344 164.552 83.48C164.552 92.1584 166.702 96.4976 171.003 96.4976C171.003 97.0352 170.657 97.5728 169.966 98.1104C169.275 98.648 168.468 98.9168 167.547 98.9168C161.249 98.9168 158.1 93.272 158.1 81.9824C158.1 77.8352 158.868 71.4992 160.404 62.9744C161.94 54.3728 163.937 45.3872 166.395 36.0176C168.852 26.648 172.04 18.5072 175.956 11.5952C179.873 4.60639 183.867 1.11199 187.937 1.11199C191.163 1.11199 192.776 3.14719 192.776 7.21759C192.776 10.2896 191.816 14.5904 189.896 20.12C186.209 30.872 180.91 41.624 173.998 52.376C172.155 55.2176 170.504 57.5216 169.044 59.288C168.66 59.7488 168.468 59.5952 168.468 58.8272C168.392 57.368 168.737 56.1008 169.505 55.0256C175.803 45.5792 181.294 34.8272 185.979 22.7696Z")
				path.path(d="M190.796 78.6416C190.796 87.6272 193.906 92.12 200.127 92.12C202.585 92.12 205.158 91.0448 207.846 88.8944C210.61 86.6672 213.106 84.0176 215.334 80.9456C220.249 73.88 223.705 68.12 225.702 63.6656L227.199 60.44H230.31C229.004 63.512 227.084 67.3136 224.55 71.8448C222.015 76.2992 219.596 80.0624 217.292 83.1344C214.988 86.2064 212.262 89.0096 209.113 91.544C205.964 94.0016 202.969 95.2304 200.127 95.2304C192.14 95.2304 187.071 91.5824 184.921 84.2864C184.23 81.9824 183.884 79.1024 183.884 75.6464C183.884 72.1136 184.959 67.8128 187.11 62.744C190.258 55.2176 194.559 50.1488 200.012 47.5376C202.162 46.5392 204.274 46.04 206.348 46.04C208.498 46.04 210.188 46.616 211.417 47.768C212.876 49.1504 213.606 50.7632 213.606 52.6064C213.606 54.3728 213.414 56.024 213.03 57.56C212.646 59.096 211.839 60.4784 210.61 61.7072C209.458 62.8592 208.153 63.4352 206.694 63.4352C206.079 63.4352 205.618 63.0128 205.311 62.168C205.926 62.168 206.732 61.0928 207.73 58.9424C208.806 56.7152 209.343 54.5264 209.343 52.376C209.343 50.2256 208.422 49.1504 206.578 49.1504C202.585 49.1504 198.937 52.4912 195.634 59.1728C192.409 65.8544 190.796 72.344 190.796 78.6416Z")
				path.path(d="M229.775 79.7936C229.775 87.8576 231.925 91.8896 236.226 91.8896C239.144 91.8896 241.871 90.0848 244.405 86.4752C249.243 79.7168 252.2 70.808 253.275 59.7488C250.587 58.5968 248.706 56.7152 247.631 54.104C246.939 52.4912 246.594 51.1472 246.594 50.072C246.594 48.92 246.747 47.9216 247.055 47.0768C247.746 45.0032 249.013 43.9664 250.856 43.9664C252.699 43.9664 254.082 45.1568 255.003 47.5376C256.002 49.8416 256.501 52.7984 256.501 56.408C256.501 56.6384 256.501 56.9072 256.501 57.2144C257.423 57.5216 258.767 57.6752 260.533 57.6752C262.376 57.6752 263.989 56.9456 265.371 55.4864C266.754 54.0272 267.445 52.6832 267.445 51.4544C267.445 51.1472 267.637 50.9552 268.021 50.8784C268.405 50.7248 268.751 50.7248 269.058 50.8784C269.442 51.032 269.634 51.2624 269.634 51.5696C269.634 53.7968 268.674 55.9088 266.754 57.9056C264.911 59.9024 262.415 60.9008 259.266 60.9008C258.498 60.9008 257.499 60.824 256.271 60.6704C255.81 65.8928 254.696 71.0768 252.93 76.2224C251.24 81.2912 248.859 85.7072 245.787 89.4704C242.715 93.1568 239.413 95 235.88 95C229.199 95 225.09 91.4288 223.554 84.2864C223.17 82.2128 222.978 80.1008 222.978 77.9504C222.978 73.112 224.091 67.928 226.319 62.3984C229.237 55.1792 232.847 50.6864 237.147 48.92C239.375 48.152 240.911 48.0368 241.755 48.5744C242.6 49.112 243.138 49.7264 243.368 50.4176C239.835 50.4176 236.687 53.72 233.922 60.3248C231.157 66.9296 229.775 73.4192 229.775 79.7936Z")
				path.path(d="M270.678 95C268.528 95 267.453 93.3488 267.453 90.0464C267.453 88.28 269.603 75.416 273.904 51.4544C274.134 49.8416 274.825 49.0352 275.977 49.0352C277.36 49.0352 278.397 50.0336 279.088 52.0304C279.472 53.1056 279.664 54.296 279.664 55.6016C279.664 56.8304 279.51 58.1744 279.203 59.6336L277.475 68.3888H278.166C284.925 53.1824 291.453 45.5792 297.75 45.5792C299.901 45.5792 301.59 46.3472 302.819 47.8832C304.125 49.4192 304.777 51.2624 304.777 53.4128C304.777 57.4064 304.163 62.3984 302.934 68.3888H303.395C309.923 54.1808 316.336 47.0768 322.633 47.0768C324.707 47.0768 326.397 47.8448 327.702 49.3808C329.008 50.9168 329.661 52.952 329.661 55.4864C329.661 58.0208 328.662 63.3968 326.665 71.6144C324.745 79.832 323.785 85.6304 323.785 89.0096C323.785 94.0016 324.707 96.4976 326.55 96.4976C326.55 97.0352 326.205 97.5728 325.513 98.1104C324.822 98.648 324.016 98.9168 323.094 98.9168C318.64 98.9168 316.413 95.4224 316.413 88.4336C316.413 84.056 317.526 77.7584 319.753 69.5408C321.981 61.2464 323.094 55.9472 323.094 53.6432C323.094 51.2624 322.326 50.072 320.79 50.072C317.949 50.072 314.608 53.528 310.768 60.44C307.005 67.2752 303.971 73.8416 301.667 80.1392C299.44 86.4368 298.134 90.5072 297.75 92.3504C297.366 94.1168 296.675 95 295.677 95C293.526 95 292.451 93.3488 292.451 90.0464C292.451 88.8176 293.104 84.4784 294.409 77.0288C296.944 63.3584 298.211 55.2176 298.211 52.6064C298.211 49.9184 297.443 48.5744 295.907 48.5744C293.833 48.5744 291.414 50.7248 288.649 55.0256C285.885 59.2496 283.389 64.1648 281.161 69.7712C276.323 81.5984 273.481 89.24 272.637 92.696C272.329 94.232 271.677 95 270.678 95Z")
				path.path(d="M346.302 78.1808C346.302 87.4736 349.604 92.12 356.209 92.12C358.667 92.12 361.239 91.0448 363.927 88.8944C366.692 86.6672 369.188 84.0176 371.415 80.9456C376.331 73.88 379.787 68.12 381.783 63.6656L383.281 60.44H386.391C385.086 63.512 383.166 67.3136 380.631 71.8448C378.097 76.2992 375.678 80.0624 373.374 83.1344C371.07 86.2064 368.343 89.0096 365.195 91.544C362.046 94.0016 359.051 95.2304 356.209 95.2304C344.843 95.2304 339.159 88.856 339.159 76.1072C339.159 70.1936 340.887 64.28 344.343 58.3664C349.105 50.1488 354.98 46.04 361.969 46.04C366.884 46.04 369.342 48.728 369.342 54.104C369.342 58.0976 367.806 62.2448 364.734 66.5456C360.433 72.3824 355.403 75.3392 349.643 75.416C348.798 75.416 348.26 75.032 348.03 74.264L347.915 73.8032C351.908 73.8032 355.71 71.192 359.319 65.9696C363.006 60.6704 364.849 56.2544 364.849 52.7216C364.849 50.3408 363.927 49.1504 362.084 49.1504C358.014 49.1504 354.212 52.7216 350.679 59.864C347.761 65.9312 346.302 72.0368 346.302 78.1808Z")
			.preloader__loader

		//- Container
		.container

			//- include template/partials/popupMenu/popupMenu.pug
			//-- Popup menu
			section.popupMenu
				nav.popupMenu__nav
					each val, key in {'index.html': 'HOME', 'portfolio.html': 'PORTFOLIO', 'https://github.com/Kerthin?tab=overview&from=2021-05-01&to=2021-05-05': 'GITHUB', 'https://codepen.io/Astap': 'CODEPEN', 'https://twitter.com/BelichenkoRoden': 'TWITTER'}
						a.popupMenu__link(href=`${key}`)= val

			//-- Burger
			.burgerWrap.js-burgerWrap_close
				label.burgerWrap__box
					input.burgerInput(type="checkbox")
					svg.strokeWrap(viewBox="30 28 40 40" xmlns="http://www.w3.org/2000/svg")
						path.strokeWrap__stroke.strokeWrap__stroke_first(d="M0 40h62c13 0 6 28-4 18L35 35")
						path.strokeWrap__stroke.strokeWrap__stroke_second(d="M0 50h70")
						path.strokeWrap__stroke.strokeWrap__stroke_third(d="M0 60h62c13 0 6-28-4-18L35 65")

			//-- Navigation
			//- include template/partials/navigation/navigation.pug
			nav.navigation
				a.logo(href="index.html") R
				ul.navigation__links
					each val, key in {index: 'Home', portfolio: 'Portfolio'}
						li.navigation__item
							a.navigation__link(href=`${key}.html`)= val

			//-- Developer Links
			//- include template/partials/devLinks/devLinks.pug
			.devLinks
				//--- Social links
				.social
					ul.socialList
						li.socialList__item
							a.socialList__link(href="https://github.com/Kerthin?tab=overview&from=2021-05-01&to=2021-05-05" target="_blank")
								svg.socialList__icon(viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
						li.socialList__item
							a.socialList__link(href="https://codepen.io/Astap" target="_blank")
								svg.socialList__icon(viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									polygon(points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2")
									line(x1="12" y1="22" x2="12" y2="15.5")
									polyline(points="22 8.5 12 15.5 2 8.5")
									polyline(points="2 15.5 12 8.5 22 15.5")
									line(x1="12" y1="2" x2="12" y2="8.5")
						li.socialList__item
							a.socialList__link(href="https://twitter.com/BelichenkoRoden" target="_blank")
								svg.socialList__icon(viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z")

				//--- Social links
				.gmail
					.gmail__name
						a.gmail__link(href="mailto:belichenko.roden.dev@gmail.com") belichenko.roden.dev@gmail.com

			//-- Home section
			section.home

				section.developerWrap

					//--- Illustration
					.illustration

						//---- Illustration Blob Circle
						svg#blob-js.illustrationBlob(viewBox="0 0 1000 1000")
							path#blob__path-js.illustrationBlob__path

						//---- Illustration Bubbles Wrap
						ul.illustrationBubblesWrap
							- for (var n = 0; n < 12; n++)
								li.illustrationBubble

						//---- Illustration Dashed Frame
						- var n = 1;
						while n <= 3
							.illustrationDashedFrame(class=`dashedFrame_type${n++}`)

						//---- Illustration Circle Charts
						- var n = 1;
						while n <= 2
							.illustrationCircleChart(class=`illustrationCircleChart_type${n++}`)

						//---- Illustration Stickers
						- var n = 1;
						while n <= 2
							.illustrationSticker(class=`illustrationSticker_type${n++}`)
								ul.illustrationSticker__lineWrap
									- for (var j = 0; j < 3; j++)
										li.illustrationSticker__line

						//---- Illustration Site Layout
						.illustrationSiteLayout
							.illustrationSiteLayout__codeWrap
								.illustrationSiteLayout__scrollBox
									ul.illustrationSiteLayout__codeList
										- for (var n = 0; n < 4; n++)
											li.illustrationSiteLayout__codeItem
												- for (var j = 0; j < 7; j++)
													.illustrationSiteLayout__codeLine

						//---- Illustration Dialog
						ul.illustrationDialog
							- for (var n = 0; n < 5; n++)
								li.illustrationDialog__line

						//---- Illustration Folder
						.illustrationFolder
							ul.illustrationFolder__file
								- for (var n = 0; n < 5; n++)
									li.illustrationFolder__line

						//---- Illustration Books
						.illustrationBooks
							.illustrationBooks__book
							.illustrationBooks__book
							.illustrationBooks__book
								- for (var n = 0; n < 4; n++)
									.illustrationBooks__binding

						//---- Illustration Analytics
						.illustrationAnalytics
							.illustrationAnalyticsPanel
								.illustrationAnalyticsPanel__buttonsWrap
									each val, index in ['exit', 'minimize', 'screen']
										.illustrationAnalyticsPanel__button(class=`__button_${val}`)

							//----- Illustration Analytics	Page
							.illustrationAnalyticsPage
								.illustrationAnalyticsPage__container

									//------ Illustration Analytics Diagram
									ul.illustrationAnalyticsPage__diagramWrap
										- for (var n = 0; n < 4; n++)
											li.illustrationAnalyticsPage__diagram

									//------ Illustration Analytics Banner
									.illustrationAnalyticsPage__banner

										//------- Illustration Analytics Description
										ul.illustrationAnalyticsPage__lineWrap
											- for (var n = 0; n < 8; n++)
												li.illustrationAnalyticsPage__line

										//------- Illustration Analytics Product List
										ul.illustrationAnalyticsPage__productList
											- for (var n = 0; n < 4; n++)
												li.illustrationAnalyticsPage__productItem
													.illustrationAnalyticsPage__productImg
													ul.illustrationAnalyticsPage__productLineWrap
														- for (var j = 0; j < 3; j++)
															li.illustrationAnalyticsPage__productLine

						//---- Illustration Imac
						.illustrationImac
							//----- Illustration Imac Display
							.illustrationImac__display

								//------ Illustration Imac Editor
								.illustrationImacEditor
									.illustrationImacEditorPanel

									//------- Illustration Imac	Editor Code
									.illustrationImacEditorCodeWrap
										.illustrationImacEditorCodeWrap__scrollBox
											- for (var n = 0; n < 2; n++)
												ul.illustrationImacEditorCodeWrap__codeList
													- for (var j = 0; j < 6; j++)
														li.illustrationImacEditorCodeWrap__codeItem
															- for (var x = 0; x < 10; x++)
																.illustrationImacEditorCodeWrap__codeLine

								//------ Illustration Imac Browser
								.illustrationImacBrowser

									//------- Illustration Imac Browser Panel
									.illustrationImacBrowserPanel
										.illustrationImacBrowserPanel__buttonsWrap
											each val, index in ['exit', 'minimize', 'screen']
												.illustrationImacBrowserPanel__button(class=`__button_${val}`)

									//------- Illustration Imac Browser Page
									.illustrationImacBrowserPage
										.illustrationImacBrowserPage__container

											//-------- Illustration Imac Browser Header
											header.illustrationImacBrowserPage__header
												ul.illustrationImacBrowserPage__nav
													- for (var n = 0; n < 4; n++)
														li.illustrationImacBrowserPage__navItem

											//-------- Illustration Imac Browser Main
											section.illustrationImacBrowserPage__main
												.illustrationImacBrowserPage__banner
													.illustrationImacBrowserPage__img
													ul.illustrationImacBrowserPage__lineWrap
														- for (var n = 0; n < 4; n++)
															li.illustrationImacBrowserPage__line

											//-------- Illustration Imac Browser Footer
											footer.illustrationImacBrowserPage__footer
												ul.illustrationImacBrowserPage__productList
													- for (var n = 0; n < 3; n++)
														li.illustrationImacBrowserPage__productItem
															.illustrationImacBrowserPage__productImg
															ul.illustrationImacBrowserPage__productLineWrap
																- for (var j = 0; j < 2; j++)
																	li.illustrationImacBrowserPage__productLine

								//------ Picture
								.picture
									.picture__dayWrap
										.picture__sun
										.picture__moon
									.picture__mountainsWrap
										- for (var n = 0; n < 3; n++)
											.picture__mountain

								//------ Avatar
								.avatarWrap
									.avatar

										//------- Head
										.headWrap
											//-------- Hair
											.hair
												.hair__leftSide
													- for (var n = 0; n < 3; n++)
														.blink
												.hair__rightSide

											//-------- Ears
											.ears
												.ear
												.ear

											//-------- Face
											.face
												//--------- Top Face
												.eyebrows
													.eyebrows__brow
													.eyebrows__brow
													.eyebrows__shadow
												//--------- Middle Face
												.eyes
												.glasses
													each val, index in ['left', 'right']
														div(class=`${val}`)
															.lens
																.shine
												//--------- Bottom Face
												.nose
												.arm
													each val, index in ['pharynx', 'tooth', 'tongue']
														div(class=`arm__${val}`)

											//-------- Neck
											.neck

										//------- Body
										.bodyWrap
											.bodyWrap__body
												.collar
													.shirt
													.button
													.button
											//-------- Bow
											.bowWrap
												each val, index in ['bowShadow', 'bow', 'crease']
													div(class=`bowWrap__${val}`)

							//----- Illustration Imac Panel
							.illustrationImac__panel
								.illustrationImac__panelButton

							//----- Illustration Imac Stand
							.illustrationImac__stand
								.illustrationImac__standShadow
								.illustrationImac__standBase

						//---- Illustration Presentation
						.illustrationPresentation
							//----- Illustration Presentation Panel
							.illustrationPresentationPanel
								.illustrationPresentationPanel__buttonsWrap
									each val, index in ['exit', 'minimize', 'screen']
										.illustrationPresentationPanel__button(class=`__button_${val}`)

							//----- Illustration Presentation Page
							.illustrationPresentationPage
								.illustrationPresentationPage__container

									//------ Illustration Presentation Banner
									.illustrationPresentationPage__banner
										.illustrationPresentationPage__img
											//------- Picture
											.picture
												.picture__dayWrap
													.picture__sun
													.picture__moon
												.picture__mountainsWrap
													- for (var n = 0; n < 3; n++)
														.picture__mountain
										ul.illustrationPresentationPage__lineWrap
											- for (var n = 0; n < 6; n++)
												li.illustrationPresentationPage__line

									//------ Illustration Presentation Form
									.illustrationPresentationPage__form
										.illustrationPresentationPage__input
										.illustrationPresentationPage__input

						//---- Illustration Settings
						.illustrationSettings
							.illustrationSettings__container

								//----- Illustration Settings Gear
								.illustrationSettings__gearWrap
									.illustrationSettings__gear
										svg(viewBox="-208 -208 300 300")
											defs
												line#tooth(x1="-2" x2="26")
											g.teeth
												- var n = 0;
												- var angle = 45;
												while n < 8
													g(transform=`rotate(${n++ * angle})`)
														use(xlink:href="#tooth" x="85")
									.illustrationSettings__gearCircle

								//----- Illustration Settings Line
								ul.illustrationSettings__lineWrap
									- for (var n = 0; n < 4; n++)
										li.illustrationSettings__line

						//---- Illustration Curtain
						.illustration__curtain

					//--- Developer Info
					article.developerInfo
						h1.developerInfo__title
							span.developerInfo__greeting Hello, I'm 
							span.developerInfo__name Roden
						h2.developerInfo__subtitle Fronend developer
						p.developerInfo__paragraph I live in Russia and specialize in developing user interfaces. Most of all in my work, I love the visualization of elements and animations. 
							span.developerInfo__paragraphPost I also write posts on the site Dev.to.
						a.developerInfo__link(href="https://dev.to/kerthin" target="_blank") My Posts

				.mouse
					.mouse__scroller

			//-- About section
			section.about

				//--- Card Wrap
				.cardWrap.clearfix

					//---- Learnability Icon
					.iconCard
						.iconWrap
							.learnabilityIcon

								//----- Learnability Editor
								.learnabilityEditor

									//------ Learnability Editor Panel
									.learnabilityEditor__panel
										.learnabilityEditor__buttonsWrap
											each val, index in ['exit', 'minimize', 'screen']
												.learnabilityEditor__button(class=`__button_${val}`)

									//------ Learnability Editor Code
									.learnabilityEditor__codeWrap
										.learnabilityEditor__scrollBox
											ul.learnabilityEditor__codeList
												- for (var n = 0; n < 7; n++)
													li.learnabilityEditor__codeItem
														- for (var j = 0; j < 5; j++)
															.learnabilityEditor__codeLine

								//----- Learnability Keyboard
								.learnabilityKeyboard
									each val, index in [14, 14, 13, 12, 10]
										ul.learnabilityKeyboard__line
											- for (var n = 0; n < val; n++)
												li.learnabilityKeyboard__button

								//----- Learnability Gear
								.learnabilityGear
									.learnabilityGear__gear
										svg(viewBox="-208 -208 300 300")
											defs
												line#learnabilityGearTooth(x1="-2" x2="22")
											g.teeth
												- var n = 0;
												- var angle = 30;
												while n < 12
													g(transform=`rotate(${n++ * angle})`)
														use(xlink:href="#learnabilityGearTooth" x="85")
									.learnabilityGear__gearCircle
						h2.iconTitle Learnobility
						p.iconInfo Able to continuously and purposefully learn new knowledge to improve their working skills.

					//---- Fast Icon
					.iconCard
						.iconWrap
							.fastIcon

								//----- Fast Browser
								.fastBrowser

									//------ Fast Browser Panel
									.fastBrowser__panel
										.fastBrowser__buttonsWrap
											each val, index in ['exit', 'minimize', 'screen']
												.fastBrowser__button(class=`__button_${val}`)
										.fastBrowser__input

									//------ Fast Browser Page
									.fastBrowser__page
										ul.fastBrowser__lineWrap
											- for (var n = 0; n < 6; n++)
												li.fastBrowser__line

								//----- Fast Clock Wrap
								.fastClockWrap

									//------ Fast Clock Gear
									.fastClockWrap__gear
										svg(viewBox="-208 -208 300 300")
											defs
												line#clockGearTooth(x1="-2" x2="18")
											g.teeth
												- var n = 0;
												- var angle = 30;
												while n < 12
													g(transform=`rotate(${n++ * angle})`)
														use(xlink:href="#clockGearTooth" x="85")

									//------ Fast Clock
									.fastClockWrap__clock
										.clockFaceContainer
											.clockFaceContainer__clockHand
											.clockFaceContainer__clockCircle

											svg(viewBox="-208 -208 300 300")
												defs
													line#clockDealTooth(x1="-2" x2="10")
												g.teeth
													- var n = 0;
													- var angle = 9;
													while n < 40
														g(transform=`rotate(${n++ * angle})`)
															use(xlink:href="#clockDealTooth" x="85")
						h2.iconTitle Fast
						p.iconInfo I am able to quickly and efficiently perform tasks in the right time.

					//---- Dynamic Icon
					.iconCard
						.iconWrap
							.dynamicIcon

								//----- Dynamic Browser
								.dynamicBrowser

									//------ Dynamic Browser Panel
									.dynamicBrowser__panel
										.dynamicBrowser__buttonsWrap
											each val, index in ['exit', 'minimize', 'screen']
												.dynamicBrowser__button(class=`__button_${val}`)

									//------ Dynamic Browser Header
									header.dynamicBrowser__header
										ul.dynamicBrowser__lineWrap
											- for (var n = 0; n < 4; n++)
												li.dynamicBrowser__line
										.dynamicBrowser__title
										.dynamicBrowser__subtitle

									//------ Dynamic Browser Main
									section.dynamicBrowser__main
										.landscape
											.landscapePicture
												.landscapePicture__bg
												.landscapePicture__dayWrap
													.landscapePicture__sun
													.landscapePicture__moon
												.landscapePicture__mountainsWrap
													.landscapePicture__mountain
													.landscapePicture__mountain

									//------ Dynamic Browser Footer
									footer.dynamicBrowser__footer
										ul.dynamicBrowser__productList
											- for (var n = 0; n < 3; n++)
												li.dynamicBrowser__product
													.dynamicBrowser__productImg
													.dynamicBrowser__productLineWrap
														- for (var j = 0; j < 3; j++)
															.dynamicBrowser__productLine

								//----- Dynamic Dialog
								mixin dynamicDialogMix(side, lineIteration)
									ul.dynamicDialog(class=`dynamicDialog_${side}`)
										- for (var n = 0; n < lineIteration; n++)
											li.dynamicDialog__line

								+dynamicDialogMix('left', '4')
								+dynamicDialogMix('right', '3')

								//----- Dynamic Dashed Frame
								.dynamicDashedFrame

								//----- Dynamic Chart
								ul.dynamicChart
									- for (var n = 0; n < 5; n++)
										li.dynamicChart__line
						h2.iconTitle Dynamic
						p.iconInfo I believe that dynamics is one of the most important foundations for high-quality and modern websites.

					//---- Responsive Icon
					.iconCard
						.iconWrap
							.responsiveIcon

								//----- Responsive Imac
								.respImac

									//------ Responsive Imac Display
									.respImac__display

										//------- Responsive Browser
										.respBrowser

											//-------- Responsive Browser Panel
											.respBrowser__panel
												.respBrowser__buttonsWrap
													each val, index in ['exit', 'minimize', 'screen']
														.respBrowser__button(class=`__button_${val}`)

											//-------- Responsive Browser Page
											.respBrowser__page
												.respBrowser__pageLayout

													//--------- Responsive Browser Nav
													.respBrowser__nav

													//--------- Responsive Browser Banner
													.respBrowser__banner

													//--------- Responsive Browser Product List
													ul.respBrowser__productList
														- for (var n = 0; n < 3; n++)
															li.respBrowser__product
																.respBrowser__productImg
																.respBrowser__productLineWrap
																	- for (var j = 0; j < 2; j++)
																		.respBrowser__productLine

									//------ Responsive Imac Panel
									.respImac__panel

									//------ Responsive Imac Stand
									.respImac__stand
										.respImac__standShadow
										.respImac__standBase

								//----- Responsive Ipad
								.respIpad

									//------ Responsive Ipad Display
									.respIpad__display

										//------- Ipad Browser
										.ipadBrowser

											//-------- Ipad Browser Nav
											.ipadBrowser__nav

											//-------- Ipad Browser Banner
											.ipadBrowser__banner

											//-------- Responsive Ipad Product List
											ul.ipadBrowser__productList
												- for (var n = 0; n < 3; n++)
													li.ipadBrowser__product
														.ipadBrowser__productImg
														.ipadBrowser__productLineWrap
															- for (var j = 0; j < 3; j++)
																.ipadBrowser__productLine

									//------ Responsive Ipad Camera
									.respIpad__camera

									//------ Responsive Ipad Button
									.respIpad__button

								//----- Responsive Iphone
								.respIphone

									//------ Responsive Iphone Display
									.respIphone__display

										//------- Iphone Browser
										.iphoneBrowser

											//-------- Iphone Browser Nav
											.iphoneBrowser__nav

											//-------- Responsive Iphone Product List
											ul.iphoneBrowser__productList
												- for (var n = 0; n < 2; n++)
													li.iphoneBrowser__product
														.iphoneBrowser__productImg
														.iphoneBrowser__productLineWrap
															- for (var j = 0; j < 2; j++)
																.iphoneBrowser__productLine

									//------ Responsive Iphone Camera
									.respIphone__camera

									//------ Responsive Iphone Button
									.respIphone__button
						h2.iconTitle Responsive
						p.iconInfo I always try to make the website display perfectly on all screens.

					//---- Sociable Icon
					.iconCard
						.iconWrap
							.sociableIcon

								//----- Sociable Link
								mixin sociableLinkMix(position, name)
									.sociableLink(class=`sociableLink_${position}`)
										.sociableLink__figure(class=`sociableLink__figure_${name}`)

								+sociableLinkMix('posLC', 'mail')
								+sociableLinkMix('posLT', 'money')
								+sociableLinkMix('posCT', 'tag')
								+sociableLinkMix('posRT', 'percent')
								+sociableLinkMix('posRC', 'and')

								//----- Sociable Display
								.sociableDisplay

									//------ Sociable Panel
									mixin sociableDisplayPanelMix(side, lineIteration)
										ul.sociableDisplay__panel(class=`sociableDisplay_${side}Side`)
											- for (var n = 0; n < lineIteration; n++)
												li.sociableDisplay__line

									+sociableDisplayPanelMix('left', '6')
									+sociableDisplayPanelMix('right', '4')

									//------ Sociable Avatar
									.sociableDisplay__avatar

									//------ Sociable Buttons Wrap
									ul.sociableDisplay__buttonsWrap
										- for (var n = 0; n < 2; n++)
											li.sociableDisplay__button

								//----- Sociable Keyboard
								.sociableKeyboard
						h2.iconTitle Sociable
						p.iconInfo I easily connect with new people and can be sociable and easily adaptable in society.

					//---- Intuitive Icon
					.iconCard
						.iconWrap
							.intuitiveIcon

								//----- Intuitive Rays
								.intuitiveRays
									svg(viewBox="-208 -208 300 300")
										defs
											line#ray(x1="-2" x2="15")
										g.teeth
											- var n = 0;
											- var angle = 15;
											while n < 24
												g(transform=`rotate(${n++ * angle})`)
													use(xlink:href="#ray" x="85")

								//----- Intuitive Lamp
								svg.intuitiveLightBulb(viewBox="0 0 571 678" fill="none" xmlns="http://www.w3.org/2000/svg")
									path.intuitiveLightBulb__silhouette(d="M556.239 285.043C556.239 206.755 523.045 136.22 469.964 86.744C416.883 37.268 343.914 8.85098 264.363 14.8C197.061 19.833 136.478 49.868 91.794 95.492C47.11 141.116 18.323 202.329 14.612 269.717C12.344 310.898 19.279 350.212 33.545 385.795C47.811 421.378 69.409 453.23 96.469 479.488C120.498 502.805 138.92 530.743 151.334 561.222C163.748 591.701 170.157 624.721 170.157 658.203V660.98V663.757H285.215H400.273V660.972V658.187C400.273 623.899 407.426 590.554 420.628 559.706C433.83 528.858 453.081 500.51 477.276 476.215C501.674 451.716 521.415 422.578 535.056 390.238C548.697 357.895 556.239 322.352 556.239 285.043Z")
									path.intuitiveLightBulb__silhouette(d="M400.273 677.601H285.216H170.158C166.334 677.601 162.873 676.052 160.368 673.546C157.863 671.04 156.313 667.579 156.313 663.756V660.979V658.202C156.313 625.996 149.981 594.513 138.13 565.726C126.279 536.939 108.907 510.846 86.828 489.422C57.215 460.688 34.568 426.232 19.893 388.629C5.21797 351.026 -1.48604 310.276 0.787958 268.955C4.70096 197.877 34.875 133.538 81.802 85.642C128.729 37.746 192.408 6.29501 263.332 0.992007C303.488 -2.01999 342.71 3.155 379.233 15.896C415.756 28.636 449.581 48.942 478.942 76.189C507.903 103.065 530.688 135.534 546.233 171.156C561.778 206.778 570.082 245.554 570.082 285.045C570.082 322.962 562.713 359.761 548.655 393.799C534.596 427.836 513.848 459.112 487.087 485.983C463.558 509.606 445.316 536.707 432.957 565.877C420.597 595.047 414.119 626.286 414.119 658.187V660.972V663.757C414.119 667.581 412.57 671.042 410.064 673.547C407.558 676.052 404.097 677.601 400.273 677.601ZM183.879 649.911H285.219H386.559C387.63 615.828 395.3 582.569 408.981 551.526C422.662 520.483 442.353 491.657 467.466 466.441C491.625 442.182 510.356 413.947 523.048 383.22C535.74 352.492 542.392 319.272 542.392 285.043C542.392 249.392 534.893 214.384 520.858 182.223C506.823 150.062 486.251 120.748 460.105 96.484C433.599 71.887 403.057 53.555 370.075 42.053C337.092 30.551 301.668 25.88 265.398 28.605C201.386 33.391 143.911 61.781 101.556 105.013C59.201 148.245 31.967 206.32 28.435 270.478C26.383 307.792 32.434 344.589 45.683 378.542C58.932 412.496 79.378 443.607 106.113 469.55C129.909 492.643 148.827 520.525 162.058 551.238C175.289 581.952 182.832 615.495 183.879 649.911Z")

								//----- Intuitive Lamp Circle
								.intuitiveLightBulbCircle

								//----- Intuitive Brain
								.intuitiveBrain

								//----- Intuitive Play
								svg.intuitivePlay(viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M19.982 14.438L13.742 9.902C13.513 9.736 13.209 9.711 12.958 9.84C12.705 9.968 12.547 10.228 12.547 10.509V19.578C12.547 19.862 12.705 20.121 12.958 20.249C13.065 20.303 13.182 20.33 13.3 20.33C13.454 20.33 13.61 20.281 13.742 20.184L19.982 15.652C20.179 15.507 20.294 15.283 20.294 15.045C20.295 14.803 20.177 14.58 19.982 14.438Z")
									path(d="M15.026 0.0019989C6.726 0.0019989 0 6.728 0 15.028C0 23.325 6.726 30.049 15.026 30.049C23.324 30.049 30.051 23.324 30.051 15.028C30.052 6.728 23.324 0.0019989 15.026 0.0019989ZM15.026 27.542C8.114 27.542 2.51 21.941 2.51 15.028C2.51 8.118 8.114 2.51 15.026 2.51C21.937 2.51 27.54 8.117 27.54 15.028C27.541 21.941 21.937 27.542 15.026 27.542Z")

								//----- Intuitive Figures
								each val, index in ['sm', 'lg']
									.intuitiveBubble(class=`intuitiveBubble_${val}`)
								.intuitiveRectangle

								//----- Intuitive Dialog
								.intuitiveDialog
									.intuitiveDialog__cloud
									ul.intuitiveDialog__lineWrap
										- for (var n = 0; n < 2; n++)
											li.intuitiveDialog__line

								//----- Intuitive Landscape
								.landscape
									.landscapeShadow
									.landscapePicture
										.landscapePicture__bg
										.landscapePicture__dayWrap
											.landscapePicture__sun
											.landscapePicture__moon
										.landscapePicture__mountainsWrap
											.landscapePicture__mountain
											.landscapePicture__mountain

								//----- Intuitive Neck
								.intuitiveNeck

								//----- Intuitive Base Housing 
								ul.intuitiveBaseHousing
									- for (var n = 0; n < 4; n++)
										li.intuitiveBaseHousing__line
									li.intuitiveBaseHousing__contact
						h2.iconTitle Intuitive
						p.iconInfo I can understand, penetrate and form the meaning of events and situations.

		include template/partials/index/_indexPageScripts.pug