html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/portfolio/_linkPortfolioStyle.pug
	body
		.container

			//- Popup Menu
			section.popupMenu

				//- Portfolio Container
				.portfolioContainer
					.bgRect
					.bgRect

					//- Presentation
					section.presentation

						//- Present Page
						section.presentPage

							//- Present Side
							.presentSide
								.closeButtonWrap
									svg.closeButtonWrap__textWrap(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve")
										defs
											path#circlePath(d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 ")
										circle(cx="150" cy="100" r="75" fill="none")
										g
											use(xlink:href="#circlePath" fill="none")
											text
												textPath.closeButtonWrap__text(xlink:href="#circlePath") Close portfolio page
									.closeButtonWrap__circle
								h1.wrap__vertical

							//- Present Main
							.presentMain
								p.presentMain__article Presentation
								p.presentMain__article 01
								p.presentMain__article
									a.presentMain__demoLink(href="" target="_blank") Demo Page
								p.presentMain__article Made by Roden

								.presentMain__titleWrap
									h1.presentMain__title
									.presentMain__titleUnderline
									.presentMain__slide

									.presentMain__titleCircle
										svg.presentMain__textWrap(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve")
											defs
												path#circlePath(d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 ")
											circle(cx="150" cy="100" r="75" fill="none")
											g
												use(xlink:href="#circlePath" fill="none")
												text
													textPath.presentMain__text(xlink:href="#circlePath") Welcome to portfolio page
								.presentMain__content
									.presentMain__descript
										h2.presentMain__descriptTitle
										p.presentMain__descriptParagraph
									.presentMain__imgWrap
										.presentMain__imgRect
										.presentMain__img

						//- Detail Page
						section.detailPage

							//- Line Info Wrap
							mixin lineInfoMix(leftWord, pageNumber, leftClassLink, leftHref, leftWordLink, rightClassLink, rightHref, rightWordLink)
								.lineInfoWrap
									.lineInfoWrap__left #{leftWord}
									.lineInfoWrap__line
									.lineInfoWrap__right #{pageNumber}
								.lineInfoWrap
									.lineInfoWrap__left
										a(class=`${leftClassLink}` href=`${leftHref}` target="_blank") #{leftWordLink}
									.lineInfoWrap__line
									.lineInfoWrap__right
										a(class=`${rightClassLink}` href=`${rightHref}` target="_blank") #{rightWordLink}

							//- Detail Line Info Wrap
							+lineInfoMix('Details', '02', 'lineInfoWrap__detailGithub', '', 'Github Page', '', 'https://dribbble.com/Kerthin', 'www.dribbble.com')

							//- Detail Wrap
							.detailsWrap

								//- Detail Item
								mixin detailItemMix(detailItemNumber)
									.detailItem
										.detailItem__img
										.detailItem__info
											.detailItem__titleWrap
												h2.detailItem__title(class=`js-detailItem__title_${detailItemNumber}`)
												h3.detailItem__subtitle(class=`js-detailItem__subtitle_${detailItemNumber}`)
											.detailItem__paragraph(class=`js-detailItem__paragraph_${detailItemNumber}`)

								+detailItemMix(1)
								+detailItemMix(2)
								+detailItemMix(3)
								+detailItemMix(4)

						//- Portfolio Page
						section.portfolioPage

							//- Portfolio Line Info Wrap
							+lineInfoMix('Portfolio', '03', '', 'mailto:belichenko.roden.dev@gmail.com', 'mail.google.com', '', 'https://dev.to/kerthin', 'www.dev.to')

							//- 
							.portfolioInfoWrap
								.portfolioImg.portfolioImg_lg
								.portfolioLinks
									.portfolioLinks__lineWrap
										.portfolioLinks__line
										.portfolioLinks__circle
									.portfolioLinks__socialWrap
										h4.portfolioLinks__socialTitle Visited My<br/>Socials.
										.portfolioLinks__social
											ul.portfolioLinks__socialList
												li.portfolioLinks__socialItem
													a.portfolioLinks__link(href="https://github.com/Kerthin?tab=overview&amp;from=2021-05-01&amp;to=2021-05-05" target="_blank")
														svg.portfolioLinks__icon(viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
															path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
														span.portfolioLinks__name GitHub
												li.portfolioLinks__socialItem
													a.portfolioLinks__link(href="https://codepen.io/Astap" target="_blank")
														svg.portfolioLinks__icon(viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
															polygon(points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2")
															line(x1="12" y1="22" x2="12" y2="15.5")
															polyline(points="22 8.5 12 15.5 2 8.5")
															polyline(points="2 15.5 12 8.5 22 15.5")
															line(x1="12" y1="2" x2="12" y2="8.5")
														span.portfolioLinks__name CodePen
												li.portfolioLinks__socialItem
													a.portfolioLinks__link(href="https://twitter.com/Roden76020051" target="_blank")
														svg.portfolioLinks__icon(viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
															path(d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z")
														span.portfolioLinks__name Twitter
									.portfolioLinks__underline
								.portfolioImg.portfolioImg_md

							//- 
							.portfolioContent
								h3.portfolioTitle Portfolio.
								.portfolio__paragraphWrap
									p.portfolio__paragraph Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos quis aperiam vero dicta, odio eaque illum, rerum veniam velit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos quis

		include template/partials/_mainScripts.pug